*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: block;
    background-color: #0098d8;
}
nav{
    margin: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #fff;
    background: -webkit-linear-gradient(left, #ffffff, y#e5e7de);
    background: -moz-linear-gradient(left, #ffffff, #e5e7de);
    background: -o-linear-gradient(left, #ffffff, #e5e7de);
    background: linear-gradient(to right, #ffffff, #e5e7de);
}
.btn-group-vertical{
    margin-left: 50%;
    margin-right: 50%;
    display: inline;
}
.btn{    
    background-color: #f54123;
    color: #0b3536;
	background-image: linear-gradient(#f54123,#db2a0a);
    /*background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));*/
}
#btn_list{    
    border: 2px solid #0098d8;
}
.badge{
    float: right;
}
.alert_bar{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    margin: 0%;
    background-color: inherit;
    color: #0b3536;
}
p.alert_bar_text{
    padding: 0px;
    color: #0b3536;
    margin: 0px;
    float: left;
}
.list-group-item{
    padding: 0px;
}
a:hover{
    text-decoration-line: none;
}
.glyphicon{
    position: relative;
}
canvas{
    z-index: 0;
    width: 100%;
    height: 100%;
}
hr{
    border: 0.5px solid #f54123;
}
.input-group{
    border: 1px solid #f54123;
}
.panel{
    border: 1px solid #f54123;
}
.list-group{
    border: 1px solid #f54123;
}
.sample{
    margin: 10px;
}
.form-group{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}
.form-control{
    width: fit-content;
    margin: auto;
}
.map-container, #map{
    margin: auto;
    margin-top: -20px;
    padding-top: 0px;
    width: 100%;
    height: 500px;
}
#map{
    position: relative;
}
@media (min-width: 700px) and (max-width: 1500px) and (orientation: portrait){
    nav{
        height: 150px;
    }
    #logo{
        height: 120px;
        padding-top: 20px;
        opacity: 0.8;
    }
    .container {
    width: 95%;
    height: 90%;
    background-color: black;
    }
}